<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700'>
<link href="style.css" rel="stylesheet" type="text/css"/>

<div class="wrapper">
    <h1>Suroj Dangol</h1> 
</div>
<form action="sim" enctype="multipart/form-data" method="post">
    <label  class="select" for="file">Select File</label>
    <input type="file" id="file"  class='name' name="file" accept=".csv"/>
    <label  class="name"></label>
    <button class="select">Upload</button>

</form>