body {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.6em;
  color: #666;
  background: #f0f0f0;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size:2.2em;
  font-weight: 700;
  line-height: 1.2em;
  color: #FFF;
  margin-bottom: 20px;
  color: #E9003A;
}

p {
  margin-bottom: 1.6em;
}

.wrapper {
  width: 60%;
  padding: 6%;
  margin: 6% auto;
  background: #fff;
}

form {
  width: 72%;
  padding: 0;
  margin: 20px auto;
}

/*#file {
  visibility: hidden;
  width: 0;
  height: 0;
}*/

.select {
  float: left;
  width: 35%;
  height: 40px;
  padding: 0 2%;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 16px;
  color: #FFF;
  background: #E9003A;
  border: 0;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

.select:hover {
  background: #970026;
} 
.name {
  float: left;
  width: 60%;
  height: 40px;
  padding: 0 2%;
  font-size: 16px;
  line-height: 40px;
  background: #fff;
  border-radius: 0px 5px 5px 0px;
}
